.card {
    background-color: #cc8b86;
    padding-left: 20px;
    margin-bottom: 20px;
    min-height: 80px;
    padding: 5px;
    margin:10px;
    align-self: center;
    

    .cardtext {
        margin:10px;

        img {
            width: auto;
            height: auto;
            max-width: 75%;
            max-height: fit-content;
            align-self: center;
            align-content: center;
            padding-left: 12%;

        }


    }

    .expand {

        p {
            width: 100%;
            margin-bottom: 10px;
        }
    }

}