html{
  font-size: 62.5%;
}

body {
    margin: 0;
    font: 'Helvetica Neue', sans-serif;
    color: #f4f2de;
    background: #658e9c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }